<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>垂标网</title>
    <link href="../../css/common.css" rel="stylesheet" />
    <link href="../../css/pg-header.css" rel="stylesheet" />
    <link href="../../css/pg-bottom.css" rel="stylesheet" />
    <link href="../../css/icon.css" rel="stylesheet" />
    <link href="../../css/search.css" rel="stylesheet" />
</head>
<body>

<div class="pg-header">
    <div class="header-top">
        <div class="container bg">
            <ul class="top-left">
                <li>*<a>收藏本站</a></li>
            </ul>
            <ul class="top-right">
                <li><a href='/account/login'>登录</a></li>
                <li><a href='/account/register'>免费注册</a></li>
                <li><a href='/account/manage'>我的订单</a></li>
                <li><a>VIP 会员俱乐部</a></li>
                <li class="menu" onmouseover="show_menu(this);" onmouseout="hide_menu(this)">
                    <span>客户服务<i class="triangle down"></i></span>
                    <div class="hide" style="position:relative;">
                        <ul class="help-menu">
                            <li><a href="/article_cat-6/article-101.html" target="_blank" title="购买流程" rel="nofollow">购买流程</a></li>
                            <li><a href="/article_cat-6/article-646.html" onclick="" target="_blank" title="在线帮助" rel="nofollow">在线帮助</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-head">
        <div class="container">
            <div class="head-left left">
                <div class="logo left">
                    <img src="../../images/mll_logo.gif" />
                </div>
                <div class="ad left">
                    <img src="../../images/1413669270929122004.gif" />
                </div>
            </div>
            <div class="head-right right">
                <div class="search-box left">
                    <div class="search">
                        <form id="JS_search_form" action="/category-9999/mcat0-scat0-b0-max0-min0-attr-page-1-sort-sort_order-order-asc.html" method="get" onsubmit="return MLL_header_search_submit();">
                            <div class="sideShadow"></div>
                            <input id="JS_MLL_search_header_input" type="text" name="keywords" class="keyWord" value="" autocomplete="off" onfocus="this.value=''" data-onkeyup="return M.searchSuggest.init(this,event);" />
                            <input type="submit" class="submit" value="" />
                            <input type="hidden" name="fl" value="q" />
                        </form>
                    </div>
                    <div class="keyword">
                        <span>热门搜索：</span>
                        <a href="#">小男人</a>
                        <a href="#">老男人</a>
                    </div>
                </div>
                <div class="cart-box left">
                    <div id="JS_header_cart_handler" class="cart">
                        <a href="/flow/?step=cart" class="cartLink" target="_blank">
                            <span class="gray">购物车</span>
                            <strong class="red cartCount" id="cartInfo_number">2</strong>
                            <span class="gray">件</span>
                            <span class="arrow"></span>
                        </a>
                        <div id="JS_header_cart_list" class="hideCart" data-status="0">
                            <div id="noGoods" style="display:none;" class='loadLay' style='color:#626262;'>您的购物车中还没有商品，先去选购吧！</div>
                            <p>asdfsdf</p>
                            <p>asdfsdf</p>
                            <p>asdfsdf</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="shadow"></div>
        <div class="container bg">
            <div class="nav-allgoods left">
                <a href="javascript:;" class="menuEvent"><strong class="catName">全部商品分类</strong></a>
            </div>
            <div class="nav-allmenu left">
                <a href="/home/search" title="首页" class="index current">首页</a>
                <a href="/home/search" title="家具城">家具城</a>
                <a href="/home/search" title="建材城">什么什么</a>
                <a href="/home/search" title="家纺家饰">家纺家饰</a>
                <a href="/home/search" target="_blank" title="体验馆">体验馆</a>
                <a href="/home/search" title="装修网" style="position:relative;" target="_black">装修网<img src="../../images/new4.gif" style="position:absolute;background:none;left:75%;top:-5px;"></a>
            </div>
            <div class="nav-extramenu right">
                <a class="menu" href="/home/search" target="_blank" title="研究院">研究院</a>
                <a class="menu" href="/home/search" target="_blank" title="求购专">求购专区</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-menu">

    </div>
    <div class="header-slider">

    </div>
</div>


<div class="pg-content">
    <div class='container clearfix'>
        <div class='category left'>
            <div class='sub-category'>
                <div class="item">
                    <div class="title font16 bold">南方水果</div>
                    <div class="body">
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                    </div>
                </div>
                <div class="item">
                    <div class="title font16 bold">南方水果</div>
                    <div class="body">

                    </div>
                </div>
                <div class="item">
                    <div class="title font16 bold">南方水果</div>
                    <div class="body">
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                    </div>
                </div>
                <div class="item">
                    <div class="title font16 bold">南方水果</div>
                    <div class="body">
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                    </div>
                </div>
                <div class="item">
                    <div class="title font16 bold">南方水果</div>
                    <div class="body">
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                    </div>
                </div>
                <div class="item">
                    <div class="title font16 bold">南方水果</div>
                    <div class="body">
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                        <a href="#">火龙果</a>
                    </div>
                </div>
            </div>

            <div class='group-box-1 mt20'>
                <div class='title'><span class='title-font'>热销排行榜</span></div>
                <div class='body'>
                    Content
                </div>
            </div>
        </div>

        <div class='search right pt18'>
            <div class='crumb'>福特 > 蒙迪欧 >2.0T</div>
            <div class='filter'>
                <dl class='clearfix'>
                    <dt>您已选择：</dt>
                    <dd>
                        <a href="#">苹果</a>
                    </dd>
                </dl>
                <dl class='clearfix'>
                    <dt>材质：</dt>
                    <dd>
                        <a href="#">苹果</a>
                        <a href="#">苹果</a>
                        <a href="#">苹果</a>
                    </dd>
                </dl>
                <dl class='clearfix'>
                    <dt>品牌：</dt>
                    <dd>
                        <a href="#">苹果</a>
                        <a href="#">苹果</a>
                        <a href="#">苹果</a>
                    </dd>
                </dl>
                <dl class='clearfix'>
                    <dt>风格：</dt>
                    <dd>
                        <a href="#">苹果</a>
                        <a href="#">苹果</a>
                        <a href="#">苹果</a>
                    </dd>
                </dl>
            </div>
            <div class='toggle'>
                <div class='bar'></div>
                <div class='content'>
                    <div class='nav-box mt1 clearfix'>
                        <div class='font left'>更多选项</div>
                        <div class='icon right'>!</div>
                    </div>
                </div>
            </div>

            <div class="sort mt10 clearfix">
                <div class="left">
                    <span class="box">排序：</span>
                    <a href="#" class="box sortarrow">价格</a>
                    <a href="#" class="box sortarrow">销量</a>
                    <a href="#" class="box sortarrow aup">最新</a>
                </div>
                <div class="right mr5">
                    <span class="red  item-number">共XX件商品</span>
                    <span class="page-number">
                        <strong class="red">1</strong>/675
                    </span>
                    <a href="#" class="btn">
                        <i class="icon_triangle triangle_prev"></i>
                    </a>
                    <a href="#" class="btn">
                        <i class="icon_triangle triangle_next"></i>
                    </a>
                </div>
            </div>

            <div class="search-list clearfix">

                <div class="search-item left">
                <a href='/home/detail'>
                    <div class="img"></div>
                </a>
                <div class="info">
                    欧凯隆 景德镇骨瓷欧凯隆
                </div>
                <div class="price-buy clearfix">
                    <span class="left red bold font16 ml10">¥69.00</span>
                    <div class="right">
                        <div class="quantity left clearfix">
                            <div class="minus left">-</div>
                            <div class="count left">
                                <input type="text" value="1" />
                            </div>
                            <div class="plus left">+</div>
                        </div>
                        <div class="buyit left">买</div>
                    </div>
                </div>
            </div>
                <div class="search-item left">
                    <a href='/home/detail'>
                        <div class="img"></div>
                    </a>
                    <div class="info">
                        欧凯隆 景德镇骨瓷欧凯隆
                    </div>
                    <div class="price-buy clearfix">
                        <span class="left red bold font16 ml10">¥69.00</span>
                        <div class="right">
                            <div class="quantity left clearfix">
                                <div class="minus left">-</div>
                                <div class="count left">
                                    <input type="text" value="1" />
                                </div>
                                <div class="plus left">+</div>
                            </div>
                            <div class="buyit left">买</div>
                        </div>
                    </div>
                </div>
                <div class="search-item left">
                    <a href='/home/detail'>
                        <div class="img"></div>
                    </a>
                    <div class="info">
                        欧凯隆 景德镇骨瓷欧凯隆
                    </div>
                    <div class="price-buy clearfix">
                        <span class="left red bold font16 ml10">¥69.00</span>
                        <div class="right">
                            <div class="quantity left clearfix">
                                <div class="minus left">-</div>
                                <div class="count left">
                                    <input type="text" value="1" />
                                </div>
                                <div class="plus left">+</div>
                            </div>
                            <div class="buyit left">买</div>
                        </div>
                    </div>
                </div>
                <div class="search-item left">
                    <a href='/home/detail'>
                        <div class="img"></div>
                    </a>
                    <div class="info">
                        欧凯隆 景德镇骨瓷欧凯隆
                    </div>
                    <div class="price-buy clearfix">
                        <span class="left red bold font16 ml10">¥69.00</span>
                        <div class="right">
                            <div class="quantity left clearfix">
                                <div class="minus left">-</div>
                                <div class="count left">
                                    <input type="text" value="1" />
                                </div>
                                <div class="plus left">+</div>
                            </div>
                            <div class="buyit left">买</div>
                        </div>
                    </div>
                </div>
                <div class="search-item left">
                    <a href='/home/detail'>
                        <div class="img"></div>
                    </a>
                    <div class="info">
                        欧凯隆 景德镇骨瓷欧凯隆
                    </div>
                    <div class="price-buy clearfix">
                        <span class="left red bold font16 ml10">¥69.00</span>
                        <div class="right">
                            <div class="quantity left clearfix">
                                <div class="minus left">-</div>
                                <div class="count left">
                                    <input type="text" value="1" />
                                </div>
                                <div class="plus left">+</div>
                            </div>
                            <div class="buyit left">买</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="pg-bottom">
    <div class="container bg">
        <div class="content">
            <div class="content-left">
                <h4>24小时服务热线</h4>
                <p>400 0098666</p>
                <div class="son-count">截至今日，垂标网在全国已有办事处 <strong class="red">168</strong> 家</div>
                <a class="look-detail" href="#">查看全国办事处</a>
            </div>
            <div class="content-center">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td><div class="line"></div></td>
                        <td>
                            <dl class="dl">
                                <dt class="dt">关于垂标网</dt>
                                <dd class="dd">
                                    <a href="/article_cat-12/article-5224.html" target="_blank" title="公司简介">公司简介</a>
                                    <a href="/article_cat-12/article-5228.html" target="_blank" title="CEO致辞">CEO致辞</a>
                                    <a href="/article_cat-12/article-5225.html" target="_blank" title="体验馆">体验馆</a>
                                    <a href="/article_cat-12/article-830.html" target="_blank" title="诚聘英才">诚聘英才</a>
                                    <a href="/article_cat-12/article-4615.html" target="_blank" title="联系我们">联系我们</a>
                                </dd>
                            </dl>
                        </td>
                        <td><div class="line"></div></td>
                        <td>
                            <dl class="dl">
                                <dt class="dt">新手指南</dt>
                                <dd class="dd">
                                    <a href="/article_cat-6/article-5404.html" target="_blank" title="注册新用户">注册新用户</a>
                                    <a href="/article_cat-6/article-101.html" target="_blank" title="订购家具流程">订购家具流程</a>
                                    <a href="/article_cat-6/article-5280.html" target="_blank" title="体验馆购买指导">体验馆购买指导</a>
                                    <a href="/article_cat-6/article-624.html" target="_blank" title="付款方式">付款方式</a>
                                    <a href="/article_cat-6/article-646.html" target="_blank" title="常见问题解答">常见问题解答</a>
                                </dd>
                            </dl>
                        </td>
                        <td><div class="line"></div></td>
                        <td>
                            <dl class="dl">
                                <dt class="dt">配送安装</dt>
                                <dd class="dd">
                                    <a href="/article_cat-23/article-5405.html" target="_blank" title="收货指南">收货指南</a>
                                    <a href="/article_cat-23/article-3206.html" target="_blank" title="体验馆服务费">体验馆服务费</a>
                                    <a href="/article_cat-23/article-618.html" target="_blank" title="物流配送">物流配送</a>
                                </dd>
                            </dl>
                        </td>
                        <td><div class="line"></div></td>
                        <td>
                            <dl class="dl">
                                <dt class="dt">售后服务</dt>
                                <dd class="dd">
                                    <a href="/article_cat-26/article-620.html" target="_blank" title="45天无理由退换货">45天无理由退换货</a>
                                    <a href="/article_cat-26/article-621.html" target="_blank" title="如何申请退款">如何申请退款</a>
                                    <a href="/article_cat-26/article-2838.html" target="_blank" title="维修补件说明">维修补件说明</a>
                                </dd>
                            </dl>
                        </td>
                        <td><div class="line"></div></td>
                        <td>
                            <dl class="dl">
                                <dt class="dt">购物保障</dt>
                                <dd class="dd">
                                    <a href="/article_cat-15/article-2880.html" target="_blank" title="正品保证">正品保证</a>
                                    <a href="/article_cat-15/article-300.html" target="_blank" title="注册协议">注册协议</a>
                                    <a href="/article_cat-15/article-298.html" target="_blank" title="隐私保护">隐私保护</a>
                                    <a href="/article_cat-15/article-297.html" target="_blank" title="免责声明">免责声明</a>
                                </dd>
                            </dl>
                        </td>
                        <td><div class="line"></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content-right">
                <h4 class="title">美乐乐微信公众号</h4>
                <div class="img">
                    <a href="/topic/meilelegw.html" target="_blank">
                        <img src="" width="100" height="100">
                    </a>
                </div>
                <p>关注有惊喜,好礼码上到!</p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<script src="../../js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    function show_menu(arg) {
        $(arg).find(".down").addClass("up").removeClass("down");
        $(arg).find(".hide").addClass("show").removeClass("hide");
    }
    function hide_menu(arg) {
        $(arg).find(".up").addClass("down").removeClass("up");
        $(arg).find(".show").addClass("hide").removeClass("show");
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        all_cat();
        all_menu();
        cart();
        ChangeTab('#tab-menu-title', '#tab-menu-body');

    });

    function all_cat() {
        $("#nav-allgoods").mouseover(function () {
            $("#all_cat").removeClass("hide");
        });
        $("#all_cat").mouseleave(function () {
            $(this).addClass("hide");
        });
    }

    function all_menu() {
        $(".list").mouseover(function () {
            $allmenu = $("#JS_side_cat_list_1");
            $(this).addClass("hover");
            $allmenu.addClass("hover").mouseover(function () {
                $allmenu.addClass("hover");
            });
            $allmenu.mouseout(function () {
                $(this).removeClass("hover");
            });
        });
        $(".list").mouseout(function () {
            $(this).removeClass("hover");


        });
    }

    function cart() {
        $("#JS_header_cart_handler").mouseover(function () {
            $("#JS_header_cart_handler").addClass("hover"); //箭头
            $("#JS_header_cart_list").css("display", "block");
            $("#JS_header_cart_list #noGoods").css("display", "block");
        });
        $("#JS_header_cart_handler").mouseout(function () {
            $("#JS_header_cart_handler").removeClass("hover");
            $("#JS_header_cart_list").css("display", "none");
            $("#JS_header_cart_list #noGoods").css("display", "none");

        });
    }

    function ChangeTab(title, body) {
        $(title).children().bind("click", function () {
            $menu = $(this);
            $content = $(body).find('div[content="' + $(this).attr("content-to") + '"]');
            $menu.addClass('current').siblings().removeClass('current');
            $content.removeClass('hide').siblings().addClass('hide');
        });
    }
</script>
</body>
</html>
