<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>购物商城</title>
    <link href="/Statics/Web/Css/common.css" rel="stylesheet" />
    <link href="/Statics/Web/Css/account.css" rel="stylesheet" />
</head>
<body>

	<div class="account-container bg mt10">
		<div class='header clearfix'>
	            <div>
	                <a href="/home/index">
	                    <img src="/Statics/Web/Images/mll_logo.gif">
	                </a>
	            </div>
	        </div>
	</div>

	<div class='account-container mt30'>
        
        <div class='body clearfix pd10' style='position: relative;'>
        	<div class='logo left'>
        		<img style='height:350px;' src="/Statics/Web/Images/login_logo.png" />
        	</div>
        	<div class='login left mt30'>
        		<form id='Form' action='/Login.html' method='POST'>
	        		
	        		<div class='group mt10'>
	                	<label class='tip'><span class="red">*</span>用户名：</label>
	                	<input type='text' require='true' label='用户名' Field='string' range='4-40' name='username' />
	                	<i class='i-name'></i>
	                </div>
	              
	                <div class='group'>
	                	<label class='tip'><span class="red">*</span>密码：</label>
	                	<input  type='password' require='true'  label='密码' min-len='6' name='passwd' />
	                	<i class='i-pwd'></i>
	                </div>
	               
	                <div class='group'>
	                	<label class='tip'><span class="red">*</span>验证码：</label>
	                	<input  type='text' require='true' label='验证码' style='width:80px;' name='code' />
	                    <a style='width:125px;display:inline-block;'><img class='checkcode' onclick='ChangeCode();' id='imgCode' src='/CheckCode.html' /></a>
	                </div>
	                <div class='group font12 mb0'>
	                	<label class='tip'></label>
	                	<label style='width:246px;display: inline-block;'>
	                        <input id='protocol' name='protocol' type='checkbox' checked='checked' />
	                        <span>自动登录</span>
	                        <span class='ml10'><a href='#'>忘记密码？</a></span>
	                    </label>
	                </div>
	                <div class='group mt0'>
	                	<label class='tip'></label>
	                	<input type='submit' class='submit' value='登	录' />
						<label class="input-error" style="background-color: white;border: 0">{{error}}</label>
	                </div>
	        	</form>
	        	
	        	<div class='go-register'><a href='/Register.html'>免费注册 >> </a></div>
        	</div>
        </div>
		
	</div>
	
	<div class='account-container mt20' style='text-align:center;color:#555;'>
		© 2004-2015 www.autohome.com.cn All Rights Reserved. xxxxx 版权所有
	</div>
	<script src="/Statics/Web/JavaScript/jquery-1.8.2.min.js"></script>
	<script src="/Statics/Web/JavaScript/treebiao.js"></script>
    <script type="text/javascript">
    	
    	$(function(){
    		$.login('#Form','');
    	});
    
	    function ChangeCode() {
            var code = document.getElementById('imgCode');
            code.src += '?';
        }
    </script>
</body>
</html>
