{% extends '../Layout/_layout.html' %}

{% block crumbs %}
{% if not status %}
JD自营 / 产品管理 / 错误了...
{% else %}
JD自营 / 产品管理 / {{data["title"]}}
{% end %}

{% end %}

{% block content %}

{% if not status %}
    <h3>{{summary}}</h3>
{% else %}

<style>
    .input-group{
        padding: 15px 0;
    }
    .group-input{
        position: relative;
    }
    .error-message{
			margin: 4px 0 0 0;
			padding: 0;
			color: red;
        position: absolute;
	}
</style>

<div>
    <table id="dg" class="easyui-datagrid"></table>

</div>


<div id="dlg" class="easyui-dialog" style="width:400px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm1">
        <div class="input-group clearfix" style="width: 380px">
            <div class="group-label" style="width: 80px;">
                <span>规格：</span>
            </div>
            <div class="group-input" style="width: 300px;">
                <input id="dlg_product_id" style="width: 200px;display: none" name="product_id" value="{{data['nid']}}"/>
                <input id="dlg_nid" style="width: 200px;display: none" name="nid"/>
                <input id="dlg_standard" style="width: 200px" class="easyui-textbox" type="text" name="standard" data-options="required:true,missingMessage:'规格不能为空',err:err" />
            </div>
        </div>
        <div class="input-group clearfix" style="width: 380px">
            <div class="group-label" style="width: 80px;">
                <span>原价：</span>
            </div>
            <div class="group-input" style="width: 300px;">
                <input id="dlg_price" style="width: 200px" class="easyui-textbox" type="text" name="price" data-options="required:true,missingMessage:'原价不能为空',err:err" />
            </div>
        </div>
        <div class="input-group clearfix" style="width: 380px">
            <div class="group-label" style="width: 80px;">
                <span>售价：</span>
            </div>
            <div class="group-input" style="width: 300px;">
                <input id="dlg_selling_price" style="width: 200px" class="easyui-textbox" type="text" name="selling_price" data-options="required:true,missingMessage:'售价不能为空',err:err" />
            </div>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <span id="dlg_summary" style="color: red"></span>
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="Save()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>



    <script>

        $(function () {
            // 加载表格数据
            InitMenu();
            InitTable();
            InitPagination();
        });

        /*
        初始化左侧菜单
        */
        function InitMenu(){
            $('#aa').accordion('select',2);
            $('#jd_menu_product').addClass('active');
        }
        /*
        初始化表格内容
         */
        function InitTable(){
            $('#dg').datagrid({
                title: '{{data["title"]}} - 价格列表',
                url: 'JdProductPrice.html',
                method: 'get',
                queryParams: {
                    'productid': '{{data["nid"]}}'
                },
                idField: 'nid',
                singleSelect: true,
                rownumbers: true,
                striped: true,
                autoRowHeight: true,
                columns:[[
                    {
                        field:'ck',
                        checkbox:true
                    },
                    {
                        field:'nid',
                        title:'ID',
                        align:'center'
                    },
					{
                        field:'standard',
                        title:'规格',
                        align:'center',
                        width: 180
                    },
					{
                        field:'price',
                        title:'原价',
                        align:'center',
                        width: 180
                    },
					{
                        field:'selling_price',
                        title:'售价',
                        align:'center',
                        width: 180
                    }
				]],
                toolbar: [
                    {
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: AddRow
                    },{
                        text:'删除',
                        iconCls:'icon-remove',
                        handler: RemoveRow
                    },{
                        text:'修改',
                        iconCls:'icon-edit',
                        handler: EditRow
                    }
                ],
                onClickRow: function (rowIndex, rowData) {
                    $(this).datagrid('unselectRow', rowIndex);
                },
                loadFilter: function(data){
                        if(data.status){
                            return data;
                        }else{
                            $.messager.alert('错误提示',data.summary,'error')
                        }
                    }
                });
        }

        /*
        初始化分页
         */
        function InitPagination(){
            var pager = $('#dg').datagrid('getPager');
            $(pager).pagination({
                beforePageText: '第',
                afterPageText: '页 共{pages}页',
                displayMsg: '当前显示{from}-{to}条记录 共{total}条数据'

            })
        }

        /*
        模态对话框的错误提示
        */
        function err(target, message){
			var t = $(target);
			if (t.hasClass('textbox-text')){
				t = t.parent();
			}
			var m = t.next('.error-message');
			if (!m.length){
				m = $('<div class="error-message"></div>').insertAfter(t);
			}
			m.html(message);
		}

        var METHOD;

        /*
        添加
        */
        function AddRow(){
            // 显示对话框，由于希望添加则将方法设置为POST
            $('#fm').form('clear');
            $('#dlg').dialog('open').dialog('setTitle','创建规格');
            $('#dlg_summary').empty();
            METHOD = 'post';
        }

        /*
        修改
        */
        function EditRow(){
            // 显示对话框，由于希望修改则将方法设置为PUT

            // 获取选中的值，将其赋值到页面上，然后ajax提交
            var row = $('#dg').datagrid('getSelected');
            $('#dlg_summary').empty();
            if(row){
                METHOD = 'put';
                $('#fm1').form('load',row);

                $('#dlg_province').val(row.province_id);

                $('#dlg').dialog('open').dialog('setTitle','修改市');

            }else{
                $.messager.alert('警告', '请选择要修改的行', 'warning');
            }

        }

        /*
        删除
        */
        function RemoveRow(){
            // 获取已经选中的行
            var rows = $('#dg').datagrid('getSelections');
            console.log(rows);
            if(rows.length<=0){
                // 警告框
                $.messager.alert('警告', '请选择要删除的行', 'warning');
            }else if(rows.length>1){
                $.messager.alert('警告', '不支持批量删除');
            }else{
                // 确认框
                $.messager.confirm('确定', '您确定要删除吗？', function (status) {
                    if(status){
                        // 点击确定
                        // 获取当前选中行的值，Ajax发送到后台
                        var row = rows[0];
                        $.ajax({
                            url: 'JdProductPrice.html',
                            type: 'delete',
                            data: {nid: row.nid},
                            dataType: 'json',
                            success: function (data) {
                                if(data.status){
                                    //删除成功
                                    $.messager.show({
                                        msg:'删除成功',
                                        showType:'slide',
                                        showSpeed: 500,
                                        timeout: 5,
                                        style:{
                                            right:'',
                                            top:document.body.scrollTop+document.documentElement.scrollTop,
                                            bottom:''
                                        }
                                    });
                                    // 重新加载表格
                                    var rowIndex = $('#dg').datagrid('getRowIndex', row);
                                    $('#dg').datagrid('deleteRow',rowIndex);
                                    $('#dg').datagrid('reload');

                                    // 删除指定行
                                    //var rowIndex = dt.datagrid('getRowIndex', row);
                                    //dt.datagrid('deleteRow',rowIndex);

                                }else{
                                    //删除失败
                                    // $.messager.alert('错误信息', data.summary ,'error');
                                    $.messager.show({
                                        icon: 'error',
                                        title:'错误信息',
                                        msg:data.summary,
                                        showType:'slide',
                                        timeout: 0,
                                        style:{
                                            right:'',
                                            top:document.body.scrollTop+document.documentElement.scrollTop,
                                            bottom:''
                                        }
                                    });
                                }
                            }
                        });
                    }
                })
            }
        }

        /*
        保存按钮
         */
        function Save(){
            var isValid = $('#fm1').form('validate');
            if(isValid){
                var product_id = $('#dlg_product_id').val();
                $.ajax({
                    url: '/JdProductPrice.html',
                    type: METHOD,
                    data: {
                        nid: $('#dlg_nid').val(),
                        product_id:  $('#dlg_product_id').val(),
                        standard:  $('#dlg_standard').val(),
                        price: $('#dlg_price').val(),
                        selling_price: $('#dlg_selling_price').val()
                    },
                    dataType: 'json',
                    success: function(data){
                        if(data.status){
                            $('#fm1').form('clear');
                            $('#dlg_product_id').val(product_id);
                            $('#dlg').dialog('close');
                            $('#dg').datagrid('reload');
                        }else{
                            $('#dlg_summary').text(data.summary);

                            $.each(data.detail, function(k,v){

                                var errorTag = document.createElement('div');
                                errorTag.className = 'error-message';
                                errorTag.innerHTML = v;
                                $('#dlg_'+k).parent().append(errorTag);

                            })

                        }
                    }
                })
            }else{
                // 前端验证通过
            }
            // $('#fm').form('clear');
        }

	</script>
{% end %}


{% end %}